body{
	padding: 0%;
	background-color: black;
}
.tArea{
	/*margin-top: 20%;*/
	width: 95%;
	margin: auto;
}
.a{
	width: 100%;
	margin-top: 3%;
	height: auto;
	border-radius: 5px;
	font-size: 1.8em;
	color: black;
	/*margin: auto;*/
}
.kws{
	color: red;
	background-color: #555555;
	font-size: 3em;
	text-align: center;
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 10px;
}
p > input{
	background-color: #ff9999;
	color: white;
}
.mostImpKW{
	background-color: #FF5555;
	color: white;
}
