body{
	padding: 0%;
	margin: 0%;
	background-color: black;
}
.top{
	width: 100%;
	position: fixed;
	background-color: #CCCCCC;
	height: 3.5em;
	margin-top: 0%;
}
.settingsICON{
	width: 2.7em;
	height: 2.7em;
	margin: auto;
	margin-top: 0.4em;
	margin-left: 0.8em;
}
.blank{
	height: 3.2em;
}
.tArea{
	width: 95%;
	margin: auto;
}
.a{
	width: 100%;
	margin-top: 3%;
	height: auto;
	border-radius: 5px;
	font-size: 1.8em;
	color: black;
	/*margin: auto;*/
}
.kws{
	color: red;
	background-color: #555555;
	font-size: 3em;
	text-align: center;
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 10px;
}
p > input{
	background-color: #ff9999;
	color: white;
}
.mostImpKW{
	background-color: #FF5555;
	color: white;
}
.inform{
	back
}
